<%= render 'shared/errors', obj:@person %>

  <%= form_for(@person, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="col-md-12 col-md-offset-0" >
   <div class="panel panel-default">
	  <div class="panel-heading">
     <h4 align="center"><%= t('.sign_in', :default => "Personal Deatails") %></h4>
      <div class="panel-body">
  <div class="form-group">
      <%= f.label :Title %><br>
      <%= f.select :title, options_for_select([['Mr'],['Miss'],['Mrs'],['Ms']], params[:title]),{}, { class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :Forename %><br>
    <%= f.text_field :forename1 , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Middle_Name %><br>
    <%= f.text_field :forename2 , class: "form-control" %>
  </div>
 <div class="form-group">
    <%= f.label :Surname %><br>
    <%= f.text_field :surname , class: "form-control" %>
  </div>
 <div class="form-group">
    <%= f.label :Address_Line1,"Address Line 1" %><br>
    <%= f.text_field :addressLine1 , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Address_Line2,"Address Line 2" %><br>
    <%= f.text_field :addressLine2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Town %><br>
    <%= f.text_field :town , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Postcode %><br>
    <%= f.text_field :postcode , class: "form-control" %>
  </div>
 <div class="form-group">
    <%= f.label :Second_Email,"Second Email" %><br>
    <%= f.text_field :secondEmail , class: "form-control" %>
  </div>
 <div class="form-group">
    <%= f.label :Personal_website_Url,"Personal Website Url" %><br>
    <%= f.text_field :personalUrl , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Photo_Upload %><br>
    <%= f.file_field :photo , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Gender %><br>
    <%= f.select :female, options_for_select([['Male'],['Female']], params[:gender]),{}, { class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :PostcodeStart %><br>
    <%= f.text_field :postcodeStart , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Authority_To_Work_Statement,"Autority To Work Statement" %><br>
    <%= f.text_area_field :authorityToWorkStatement , class: "form-control" %>
   </div>
  <div class="form-group">
    <%= f.label :Contact_Preference,"Contact Preference" %><br>
    <%= f.select :contactPreference, options_for_select([['Mobile'],['Landline'],['Email']], params[:gender]),{}, { class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :Educational_Levels,"Education Levels" %><br>
    <%= f.number_field :EducationalLevels_idEducatonLevel, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :No_Of_Gcses,"No of GCSEs" %><br>
    <%= f.number_field :noOfGcses, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :Gcse_English_Grade,"GCSE Englsih Grade" %><br>
    <%= f.text_field :gecseEnglishGrade , class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :Gcse_Maths_Grade,"GCSE Maths Grade" %><br>
    <%= f.text_field :gcseMathsGrade , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Five_Or_More_Gcses, "Five or more GCSEs" %><br>
    <%= f.number_field :fiveOrMoreGcses , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :No_Of_A_levels, "No of 'A' Levels" %><br>
    <%= f.number_field :noOfAlevels, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Ucas_Points, "UCAS Points" %><br>
    <%= f.number_field :ucasPoints , class: "form-control" %>
  </div>
 <div class="form-group">
    <%= f.label :Student_Status, "Student Status" %><br>
    <%= f.text_field :studentStatus , class: "form-control" %>
  </div>
 <div class="form-group">
    <%= f.label :Mobile_Number, "Mobile Number" %><br>
    <%= f.text_field :mobile , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Landline_Number,"Landline Number" %><br>
    <%= f.text_field :landline , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :dob,"Date of Birth" %><br>
    <%= f.date_select :dob, :start_year => Time.now.year - 1, :end_year => Time.now.year - 90, :order =>
    [:day, :month, :year], class: "form-control" %>
        </div>
  <div class="form-group">
    <%= f.label :Penalty_Points, "Penalty Points" %><br>
    <%= f.number_field :penaltyPoints , class: "form-control" %>
  </div>
 <div class="form-group">
    <%= f.submit  class: "btn btn-primary" %>
  </div>
  <div/>
<% end %>
<%= link_to 'Back', root_path %>
