<%= render 'shared/errors', obj:@person %>
<div class='row'>
  <%= form_for(@person, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="col-md-12 col-md-offset-0" >
   <div class="panel panel-default">
	  <div class="panel-heading">
     <h4 align="center"><%= t('.sign_in', :default => "Personal Deatails") %></h4>
    </div>
	<div class="panel-body">
   <div class="panel panel-info">
       <div class="panel-heading">
       <h5 align="left">My Details</h5>

    <div class="panel-body">
    <div class="row">
       <div class="col-xs-6">
        <%= f.label :Title %>
        <%= f.select :title, options_for_select([['Mr'],['Miss'],['Mrs'],['Ms']], params[:title]),{}, { class: "form-control"} %>
       </div>

      <div class="col-xs-6">
        <%= f.label :Forename %>
        <%= f.text_field :forename1 , class: "form-control" %>
      </div>
    </div>


<div class="row">
  <div class="col-xs-6">
       <%= f.label :Middle_Name %><br>
       <%= f.text_field :forename2 , class: "form-control" %>
  </div>
  <div class="col-xs-6">
      <%= f.label :Surname %><br>
      <%= f.text_field :surname , class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
     <%= f.label :Gender %><br>
     <%= f.select :female, options_for_select([['Male'],['Female']], params[:gender]),{}, { class: "form-control"} %>
  </div>
  <div class="col-xs-6">
     <%= f.label :dob,"Date of Birth" %><br>
     <%= f.date_select :dob, :start_year => Time.now.year - 14, :end_year => Time.now.year - 90, :order =>
     [:day, :month, :year], class: 'date-select' %>
  </div>
 </div>
 </div>
 </div>
</div>
   <div class="panel panel-info">
     <div class="panel-heading">
     <h5 align="left">Contact</h5>
     </div>
    <div class="panel-body">
    <div class="row">
       <div class="col-xs-6">
        <%= f.label :Address_Line1,"Address Line 1" %><br>
        <%= f.text_field :addressLine1 , class: "form-control" %>
       </div>
      <div class="col-xs-6">
        <%= f.label :Address_Line2,"Address Line 2" %><br>
        <%= f.text_field :addressLine2, class: "form-control" %>
      </div>
      </div>
<div class="row">
  <div class="col-xs-6">
       <%= f.label :Town %><br>
       <%= f.text_field :town , class: "form-control" %>
  </div>
  <div class="col-xs-6">
      <%= f.label :Postcode %><br>
      <%= f.text_field :postcode , class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <%= f.label :Second_Email,"Second Email" %><br>
    <%= f.text_field :secondEmail , class: "form-control" %>
  </div>
  <div class="col-xs-6">
     <%= f.label :Personal_website_Url,"Personal Website Url" %><br>
     <%= f.text_field :personalUrl , class: "form-control" %>
  </div>
 </div>
      <div class="row">
  <div class="col-xs-4">
     <%= f.label :Mobile_Number, "Mobile Number" %><br>
     <%= f.text_field :mobile , class: "form-control" %>
  </div>
  <div class="col-xs-4">
    <%= f.label :Landline_Number,"Landline Number" %><br>
    <%= f.text_field :landline , class: "form-control" %>
  </div>
  <div class="col-xs-4">
    <%= f.label :Contact_Preference,"Contact Preference" %><br>
    <%= f.select :contactPreference, options_for_select([['Mobile'],['Landline'],['Email']], params[:contactPreference]),{},
    { class: "form-control"} %>
  </div>
</div>
   <div class="row">
    <div class="col-xs-6">
    <%= f.label :Photo_Upload, "Photo Upload (Optional)"%><br>
    <%= f.file_field :photo , class: "form-control" %>
  </div>
    <div class="col-xs-6">
    <%= f.label :CV_Upload %><br>
    <%= f.file_field :mycv , class: "form-control" %>
  </div>
 </div>
 </div>
 </div>

   <div class="panel panel-info">
     <div class="panel-heading">
     <h5 align="left">Basic Education </h5>
     </div>
    <div class="panel-body">
    <div class="row">
       <div class="col-xs-4">
       <%= f.label :Educational_Levels,"Education Levels" %><br>
       <%= f.select :EducationalLevels_idEducatonLevel, options_for_select([['1'],['2'],['3']],
       params[:EducationalLevels_idEducatonLevel]),{},{ class: "form-control"} %>
       <br/>
        <%= f.label :Five_Or_More_Gcses, "Five or more GCSEs" %><br>
        <%= f.select :fiveOrMoreGcses, options_for_select([['5'],['6'],['7'],['8'],['9'],['10'],['11']],
        params[:fiveOrMoreGcses]),{},{ class: "form-control"} %>
        <br/>
        <%= f.label :No_Of_A_levels, "No of 'A' Levels" %><br>
        <%= f.select :noOfAlevels, options_for_select([['1'],['2']], params[:noOfAlevels]),{},{ class: "form-control"} %>
        <br/>
       </div>
      <div class="col-xs-4">
        <%= f.label :No_Of_Gcses,"No of GCSEs" %><br>
        <%= f.select :noOfGcses, options_for_select([['1'],['2'],['3'],['4'],['5'],['6'],['7'],['8'],['9'],['10'],['11']],
        params[:noOfGcses]),{},{ class: "form-control"} %>
         <br/>
        <%= f.label :Gcse_English_Grade,"GCSE English Grade" %><br>

        <%= f.select :gecseEnglishGrade, options_for_select([['A*'],['A'],['B'],['C'],['D'],['E'],
                   ['F'],['G'],['U'],['AA*'],['AA'],['BB'],['CC'],['DD'],['EE'],
                   ['FF']], params[:gecseEnglishGrade]),{},{ class: "form-control"} %>
         <br/>
        <%= f.label :Gcse_Maths_Grade,"GCSE Maths Grade" %><br>

        <%= f.select :gcseMathsGrade, options_for_select([['A*'],['A'],['B'],['C'],['D'],['E'],
                   ['F'],['G'],['U'],['AA*'],['AA'],['BB'],['CC'],['DD'],['EE'],
                   ['FF']], params[:gcseMathsGrade]),{},{ class: "form-control"} %>
        <br/>
      </div>
       <div class="col-xs-4">
        <%= f.label :Ucas_Points, "UCAS Points" %><br>
        <%= f.select :ucasPoints, options_for_select([['20'],['30'],['40'],['50'],['60'],['70'],
                   ['80'],['90'],['100'],['110'],['120'],['140'],['150'],['160'],['170'],
                   ['180'],['190'],['200'],['210'],['220'],['230'],['240'],['250'],['260'],
                   ['270'],['280']], params[:ucasPoints]),{},{ class: "form-control"} %>
        <br/>
        <%= f.label :Student_Status, "Student Status" %><br>

        <%= f.select :studentStatus, options_for_select([['Completed'],['Part-Time'],['Full-Time']],
       params[:studentStatus]),{},{ class: "form-control"} %>
        <br/>
        <%= f.label :Penalty_Points, "Penalty Points" %><br>
        <%= f.select :penaltyPoints, options_for_select([['1'],['2'],['3'],['4'],['5'],['6'],
                   ['7'],['8'],['9'],['10']], params[:penaltyPoints]),{},{ class: "form-control"} %>

      </div>
      </div>
   <div class="row">
    <div class="col-xs-12">
    <%= f.label :Authority_To_Work_Statement,"About Me" %><br>
    <%= f.text_area :authorityToWorkStatement , class: "form-control" %>
  </div>

 </div>
 </div>


 <div class="col-xs-12">
    <%= f.submit  class: "btn btn-primary" %>
    <br/> <br/>
    <%= link_to 'Back', root_path %>
  </div>
</div>
<% end %>
 </div>

</div>
</div>
