<%= render 'shared/errors', obj:@skill %>
<div class='row'>
  <%= form_for(@skill, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="col-md-12 col-md-offset-0" >
   <div class="panel panel-default">
	  <div class="panel-heading">
     <h4 align="center"><%= t('.sign_in', :default => "Skills") %></h4>
	<div class="panel-body">
    <div class="form-group">
    <%= f.label :Skill_Type %><br>
    <%= f.text_field :skillType, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Skill_Name %><br>
    <%= f.text_field :skillName, class: "form-control" %>
  </div>
 <div class="form-group">
    <%= f.label :Skill_Level %><br>
    <%= f.select :skillLevel, options_for_select([['1'],['2'],['3'],['4'],['5'],['6'],['7'],['8'],['9'],['10']], params[:title]),{}, { class: "form-control"} %>
  </div>
  <div class="actions form-group">
    <%= f.submit "Submit" , class: "btn btn-primary" %>
  </div>
<% end %>
