<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="author" content="Jake Rocheleau">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Simonetta:400,900|Balthazar">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
</head>

<body>
	<div id="w" itemscope itemtype="http://schema.org/Person">
    <p align="center"><%= link_to 'Printable or Download CV (PDF)', welcome_show_path(@people, format: 'pdf') %></p>
		<header class="clearfix">
			<div id="info">
				<h1><span itemprop="name">Viralkumar J Patel</span></h1>
				<h3 align="center"><span itemprop="jobTitle">Android Developer &amp; Ruby on Rails Web Developer</span></h3>
				<h6 align="center" >Address: <%= @people1.addressLine1 %>
				  <%= @people1.addressLine2 %>,
				  <%= @people1.town %>,
          <%= @people1.postcode %>,
          Email:<%= @people1.secondEmail %>,
          Mobile No:<%= @people1.mobile %>,
          Landline:<%= @people1.landline %>,
          Web:<%= @people1.personalUrl %></h6>
			</div>
			<div id="photo">
        <%= image_tag(Person.find(current_user).photo) %> <br/>
        <%= link_to "Download", @people1.mycv.url(:original, false) %>
        <big><a href="http://viralkumarjpatel.co.uk" itemprop="url">My Portfolio</a> </big>
			</div>
		</header>
		<section id="profile">
			<h2>My History &amp; Profile</h2>
			<p itemprop="description"><p align="justify" itemprop="description"><%= @people1.authorityToWorkStatement %></p>
		</section>

		<section id="skills" class="clearfix" itemscope itemtype="http://schema.org/ItemList">
			<h2 itemprop="name">Skillset</h2>
			<section id="skills-left">
				<h4 itemprop="about">Skills</h4>
				<ul>
					<li itemprop="itemListElement">HTML5/CSS3</li>
					<li itemprop="itemListElement">JavaScript &amp; jQuery</li>
					<li itemprop="itemListElement">PHP Backend</li>
					<li itemprop="itemListElement">SQL Databases</li>
					<li itemprop="itemListElement">Wordpress</li>
					<li itemprop="itemListElement">Pligg CMS</li>
					<li itemprop="itemListElement">Some Objective-C</li>
				</ul>
			</section>

			<section id="skills-right">
				<h4 itemprop="about">Software</h4>
				<ul>
					<li itemprop="itemListElement">Adobe Photoshop</li>
					<li itemprop="itemListElement">Adobe Dreamweaver</li>
					<li itemprop="itemListElement">MS Office 2007-2010</li>
					<li itemprop="itemListElement">cPanel &amp; phpMyAdmin</li>
					<li itemprop="itemListElement">Xcode 4</li>
				</ul>
			</section>
		</section>

		<section id="education">
			<h2>Education</h2>
			<p><span itemprop="alumniOf">Hudson High School</span> graduate of 2009.</p>
		</section>

		<section id="experience">
			<h2>Work Experience</h2>
			<p>Freelance Web Designer/Developer ~ 2007-2009</p>
			<p>Best Buy - Geek Squad In-Store Agent ~ 2008-2009</p>
			<p>Freelance Writer for <span itemprop="worksFor">Hongkiat.com</span> ~ 2011-Present</p>
		</section>

		<section id="articles">
			<h2>Recent Articles</h2>
			<p itemscope itemtype="http://schema.org/Article">
			<span itemprop="name">
			<a href="http://www.hongkiat.com/blog/css-javascript-fallback-methods/" itemprop="url" title="10 Useful Fallback Methods For CSS And Javascript">10 Useful Fallback Methods For CSS And Javascript</a></span> &bull; Published in <span itemprop="datePublished">July 2012</span></p>

			<p itemscope itemtype="http://schema.org/Article">
			<span itemprop="name">
			<a href="http://www.hongkiat.com/blog/wordpress-url-rewrite/" itemprop="url" title="Rewriting URLs In WordPress: Tips And Plugins">Rewriting URLs In WordPress: Tips And Plugins</a></span> &bull; Published in <span itemprop="datePublished">July 2012</span></p>

			<p itemscope itemtype="http://schema.org/Article">
			<span itemprop="name">
			<a href="http://www.hongkiat.com/blog/jpeg-optimization-guide/" itemprop="url" title="JPEG Optimization For The Web – Ultimate Guide">JPEG Optimization For The Web – Ultimate Guide</a></span> &bull; Published in <span itemprop="datePublished">July 2012</span></p>

			<p itemscope itemtype="http://schema.org/Article">
			<span itemprop="name">
			<a href="http://www.hongkiat.com/blog/design-perfect-newsletter/" itemprop="url" title="9 Tricks To Design The Perfect HTML Newsletter">9 Tricks To Design The Perfect HTML Newsletter</a></span> &bull; Published in <span itemprop="datePublished">May 2012</span></p>

			<p itemscope itemtype="http://schema.org/Article">
			<span itemprop="name">
			<a href="http://www.hongkiat.com/blog/google-website-optimizer-ab-testing-guide/" itemprop="url" title="Guide To A/B Testing With Google Website Optimizer">Guide To A/B Testing With Google Website Optimizer</a></span> &bull; Published in <span itemprop="datePublished">March 2012</span></p>
		</section>

	</div>

</body>
</html>