<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="Your Name">
    <%= javascript_include_tag "application" %>
		<title>Your Name - Your Profession</title>
		<!-- Styles
		================================================== -->
		<link rel="stylesheet" type="text/css" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600">
		<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-responsive.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/derek.css">
		<link rel="stylesheet" type="text/css" media="screen" href="css/custom.css">
		<link rel="shortcut icon" href="css/favicon.ico">

		<!-- IE support
		================================================== -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/css3-mediaqueries.js"></script>
		<![endif]-->
		<!--[if IE 7]>
			<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
		<![endif]-->
	</head>

	<body>

    <br/> <br/>
		<div class="container-fluid wrapper">

			<!-- Heading
			================================================== -->
			<div class="row-fluid heading">
				<div class="span8">
					<%= wicked_pdf_image_tag(@people.photo,:class => "my-picture1")%>
					<h1 class="my-name"> <%= @people.forename1 %></h1>
					<h2 class="my-profession">About me</h2>
					<p align="justify" class="my-message">
						<i class="icon-comment-alt"></i>&nbsp;
            <%= @people.authorityToWorkStatement %>
          </p>
				</div>
			</div>
			<!-- Resume
			================================================== -->
			 <div class="row-fluid resume">
       <div class="span4">
       <h3 class="my-caption">Education</h3>
       <% @educatioal_qualifications.each do |qualification| %>

       <h4 class="my-activity"> <%= qualification.qualificationType %>
       in <%= qualification.courseName %>  (<%= qualification.result %>) </h4>
       <h4 class="my-activity"> <%= qualification.mainSubject %></h4>
       <h4 class="my-activity">Level <%= qualification.EducationalLevels_idEducationLevel %></h4>
       <h5 class="my-venture"> <%= qualification.nameOfInstitutions %> <span> <%= qualification.yearObtained %> </span></h5>
       <h4 class="my-activity"><%= qualification.country %></h4>

       <hr/>
    <% end %>
        <div class="span4">
        <h3 class="my-caption">Skills</h3>
        <br>
 <table class="table table-striped table-bordered table-condensed">
      <thead>
        <thead>
          <tr>
            <th> Skill Type </th>
            <th> Skill Name</th>
            <th> Skill Level (1 to 10) </th>
          </tr>
        </thead>
        <tbody>
         <% @skills.each do |skill| %>
            <tr>
              <td colspan="1"><%= skill.skillType %></td>
              <td colspan="1"><%= skill.skillName %></td>
              <td colspan="1"><%= progress_bar skill.skillLevel.to_f * 100/1000, alternative: 'success' %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
				<!-- column 1 -->
				<div class="span4">
					<h3 class="my-caption">Employment</h3>
          <% @experiences.each do |experience| %>

					<h4 class="my-activity"><%= experience.otherJobTitle %></h4>
					<h5 class="my-venture"><%= experience.employerName %></h5>
          <h5  class="my-venture"> Start <span> <%= experience.dateStarted.strftime("%b %Y") %>  </span></h5>
          <h5 class="my-venture"> Finish <span> <%= experience.dateFinished.strftime("%b %Y") %>  </span></h5>
          <h4 class="my-activity"> Key Duties </h4>
			    <p class="my-specific"><%= experience.keyDuties %></p>
          <hr/>
          <% end %>
				</div>


					<h3 class="my-caption">Foreign Languages</h3>
					<h4 class="my-skill">
						Language I
						<span>
							<i class="icon-star"></i>
							<i class="icon-star"></i>
							<i class="icon-star"></i>
							<i class="icon-star"></i>
							<i class="icon-star-empty"></i>
						</span>
					</h4>
					<h4 class="my-skill">
						Language II
						<span>
							<i class="icon-star"></i>
							<i class="icon-star"></i>
							<i class="icon-star"></i>
							<i class="icon-star"></i>
							<i class="icon-star-empty"></i>
						</span>
					</h4>
					<h4 class="my-skill">
						Language III
						<span>
							<i class="icon-star"></i>
							<i class="icon-star"></i>
							<i class="icon-star"></i>
							<i class="icon-star-empty"></i>
							<i class="icon-star-empty"></i>
						</span>
					</h4>
				</div>

			<!-- end of resume -->

			<!-- Contact
			================================================== -->
			<div class="row-fluid contact">
				<!--column 1 -->
				<div class="span4">
					<h3 class="my-caption">Personal Information</h3>

					<h4 class="my-info">Birthday <span><%= @people.dob.strftime("%d %b %Y") %></span></h4>
					<h4 class="my-info">Address <span><%= @people.addressLine1 %></span></h4>
					<h4 class="my-info">&nbsp;<span><%= @people.addressLine2 %></span></h4>
					<h4 class="my-info">&nbsp;<span><%= @people.town %></span></h4>
          <h4 class="my-info">&nbsp;<span><%= @people.postcode %></span></h4>
				</div>
				<!--column 2 -->
				<div class="span4">
					<h3 class="my-caption">Contact Me</h3>
					<h4 class="my-info">
						<i class="icon-phone"></i> Phone(Landline)
						<span><%= @people.landline %></span>
					</h4>
					<h4 class="my-info">
						<i class="icon-signal"></i> Mobile
						<span><%= @people.mobile %></span>
					</h4>
					<h4 class="my-info">
						<i class="icon-envelope"></i> Email
						<span>
							<a href="mailto:#"><%= @people.secondEmail %></a>
						</span>
					</h4>
					<h4 class="my-info">
						<i class="icon-globe"></i> Website
						<span>
							<a href="#" target="_blank"><%= @people.personalUrl %></a>
						</span>
					</h4>

				</div>
		<div class="span4">

					<h3 class="my-caption">Follow Me</h3>
					<h4 class="my-info">
						<i class="icon-google-plus"></i>
						<span>
							<a href="#" target="_blank">Google+</a>
						</span>
					</h4>
					<h4 class="my-info">
						<i class="icon-facebook"></i>
						<span>
							<a href="#" target="_blank">facebook</a>
						</span>
					</h4>
					<h4 class="my-info">
						<i class="icon-twitter"></i>
						<span>
							<a href="#" target="_blank">Twitter</a>
						</span>
					</h4>
					<h4 class="my-info">
						<i class="icon-linkedin"></i>
						<span>
							<a href="#" target="_blank">LinkedIn</a>
						  </span>
            </h4>
          </div>
				<!--column 3 -->
				<div class="span4">

					<h3 class="my-caption">References</h3>
					<h4 class="my-info">
						<i class="icon-google-plus"></i>
						<span>
							<a href="#" target="_blank">Google+</a>
						</span>
					</h4>
					<h4 class="my-info">
						<i class="icon-facebook"></i>
						<span>
							<a href="#" target="_blank">facebook</a>
						</span>
					</h4>
					<h4 class="my-info">
						<i class="icon-twitter"></i>
						<span>
							<a href="#" target="_blank">Twitter</a>
						</span>
					</h4>
					<h4 class="my-info">
						<i class="icon-linkedin"></i>
						<span>
							<a href="#" target="_blank">LinkedIn</a>
						  </span>
            </h4>
          </div>
        </div><!-- end of contact -->
      </div><!-- end of container -->
     </div>
   </div>

	</body>
</html>