<%= render 'shared/errors', obj:@educatioal_qualification %>
<div class='row'>
  <%= form_for(@educatioal_qualification, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="col-md-12 col-md-offset-0" >
   <div class="panel panel-default">
	  <div class="panel-heading">
     <h4 align="center"><%= t('.sign_in', :default => "Educational Deatails") %></h4>

	<div class="panel-body">
    <div class="form-group">
    <%= f.label :qualificationType,"Qualification Type"%><br>
    <%= f.text_field :qualificationType , class: "form-control input-sm" %>
  </div>
    <div class="form-group">
    <%= f.label :courseName, "Course Name" %><br>
    <%= f.text_field :courseName, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :EducationalLevels_idEducationLevel,"Education Level" %><br>
     <%= f.select :EducationalLevels_idEducationLevel , options_for_select([['1'],['2'],['3'],['4'],['5'],['6'],['7'],['8']], params[:title]),{}, { class: "form-control"} %>
     </div>

    <div class="form-group">
    <%= f.label :mainSubject,"Main Subject" %><br>
    <%= f.text_field :mainSubject, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :nameOfInstitutions, "Name of Institutions" %><br>
    <%= f.text_field :nameOfInstitutions , class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :country, "Country" %><br>
    <%= f.text_field :country , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :yearObtained, "Year of Obtained"%><br>
    <%= f.date_select :yearObtained , class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :result, "Result" %><br>
    <%= f.text_field :result, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :thesesTitle,"Theses Title" %><br>
    <%= f.text_field :thesesTitle, class: "form-control" %>
  </div>

  <div class="actions form-group">
    <%= f.submit %>
  </div>
<% end %>
