<%= render 'shared/errors', obj:@educatioal_qualification %>
<div class='row'>
  <%= form_for(@educatioal_qualification, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="col-md-12 col-md-offset-0" >
   <div class="panel panel-default">
	  <div class="panel-heading">
     <h4 align="center"><%= t('.sign_in', :default => "Educational Deatails") %></h4>

	<div class="panel-body">
    <div class="form-group">
    <%= f.label :qualificationType,"Qualification Type"%><br>
    <%= f.text_field :qualificationType,:placeholder => "Bachelor/Master/PhD", class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :courseName, "Course Name" %><br>
    <%= f.text_field :courseName,:placeholder => "Computer Science", class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :EducationalLevels_idEducationLevel,"Education Level" %><br>
     <%= f.select :EducationalLevels_idEducationLevel, options_for_select([['1'],['2'],['3'],['4'],['5'],['6'],['7'],['8']],
       params[:title]),{}, { class: "form-control"} %>
     </div>

    <div class="form-group">
    <%= f.label :mainSubject,"Main Subject" %><br>
    <%= f.text_field :mainSubject,:placeholder => "Software Development", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :nameOfInstitutions, "Name of Institutions" %><br>
    <%= f.text_field :nameOfInstitutions,:placeholder => "University of Ulster", class: "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label :country, "Country" %><br>
    <%= f.country_select(:country, { priority_countries: ["GB", "IN", "US"], selected: "GB" },
    { class: 'form-control', data: { attribute: "value" } }) %>
  </div>
  <div class="form-group">
    <%= f.label :yearObtained, "Year of Obtained or Expected "%><br>
    <%= f.date_select :yearObtained, :start_year => Time.now.year + 3, :end_year => Time.now.year - 90, :order =>
     [:month, :year], class: 'date-select' %>


  </div>
   <div class="form-group">
    <%= f.label :result, "Result" %><br>
    <%= f.select :result, options_for_select([['First class 1'],['Second class, upper division(2.1)'],
        ['Second class, lower division(2.2)'],['Third class(3)'],['Pass'],
        ['Merit'],['Distinction']], params[:result]),{}, { class: "form-control"} %>
  </div>
   <div class="form-group">
    <%= f.label :thesesTitle,"Thesis Title" %><br>
    <%= f.text_field :thesesTitle,:placeholder => "Project Name or Theese Title", class: "form-control" %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Submit" , class: "btn btn-primary" %>
  </div>
<% end %>
