<p id="notice"><%= notice %></p>

<p>
  <strong>Ideducationalqualification:</strong>
  <%= @educatioal_qualification.idEducationalQualification %>
</p>

<p>
  <strong>Persons iduser:</strong>
  <%= @educatioal_qualification.Persons_idUser %>
</p>

<p>
  <strong>Qualificationtype:</strong>
  <%= @educatioal_qualification.qualificationType %>
</p>

<p>
  <strong>Coursename:</strong>
  <%= @educatioal_qualification.courseName %>
</p>

<p>
  <strong>Educationallevels ideducationlevel:</strong>
  <%= @educatioal_qualification.EducationalLevels_idEducationLevel %>
</p>

<p>
  <strong>Vocational:</strong>
  <%= @educatioal_qualification.vocational %>
</p>

<p>
  <strong>Mainsubject:</strong>
  <%= @educatioal_qualification.mainSubject %>
</p>

<p>
  <strong>Nameofinstitutions:</strong>
  <%= @educatioal_qualification.nameOfInstitutions %>
</p>

<p>
  <strong>Country:</strong>
  <%= @educatioal_qualification.country %>
</p>

<p>
  <strong>Yearobtained:</strong>
  <%= @educatioal_qualification.yearObtained %>
</p>

<p>
  <strong>Result:</strong>
  <%= @educatioal_qualification.result %>
</p>

<p>
  <strong>Thesestitle:</strong>
  <%= @educatioal_qualification.thesesTitle %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @educatioal_qualification.verified %>
</p>

<p>
  <strong>Howverified:</strong>
  <%= @educatioal_qualification.howVerified %>
</p>

<%= link_to 'Edit', edit_educatioal_qualification_path(@educatioal_qualification) %> |
<%= link_to 'Back', root_path %>
