<%= render 'shared/errors', obj:@experience %>
<div class='row'>
  <%= form_for(@experience, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="col-md-12 col-md-offset-0" >
   <div class="panel panel-default">
	  <div class="panel-heading">
     <h4 align="center"><%= t('.sign_in', :default => "Experience") %></h4>
	<div class="panel-body">
    <div class="form-group">
    <%= f.label :Job_Title,"Job Title" %><br>
    <%= f.text_field :other_jobtitle,:placeholder => "Software Engineer", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :keyDuties,"Key Duties" %><br>
    <%= f.text_field :keyDuties, :placeholder => "Software Development, Software Design, Requirement Management",class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :employerName, "Employer/Company" %><br>
    <%= f.text_field :employerName,:placeholder => "Accenture", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :dateStarted, "Date Started" %><br>
    <%= f.date_select :dateStarted, :start_year => Time.now.year - 1, :end_year => Time.now.year - 90, :order =>
    [:month, :year], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :dateFinished, "Date Finished or Current" %><br>
    <%= f.date_select :dateFinished, :start_year => Time.now.year - 1, :end_year => Time.now.year - 90, :order =>
    [:month, :year], class: "form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit  "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
