<%= render 'shared/errors', obj:@referee %>
<div class='row'>
  <%= form_for(@referee, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="col-md-12 col-md-offset-0" >
   <div class="panel panel-default">
	  <div class="panel-heading">
     <h4 align="center"><%= t('.sign_in', :default => "Referee") %></h4>
	<div class="panel-body">

   <div class="form-group">
     <%= f.label :Title %><br>
      <%= f.select :title, options_for_select([['Mr'],['Miss'],['Mrs'],['Ms']], params[:title]),{}, { class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :forename %><br>
    <%= f.text_field :forename , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :surname %><br>
    <%= f.text_field :surname, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :contactPhone %><br>
    <%= f.text_field :contactPhone, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :relationship %><br>
    <%= f.text_field :relationship, class: "form-control" %>
  </div>
   <div class="form-group">
     <%= f.label :permissionToContact %><br>
     <%= f.select :permissionToContact, options_for_select([['NO'],['Phone'],['Email']], params[:title]),{}, { class: "form-control"} %>
  </div>
   <div class="form-group">
    <%= f.label :referenceDoc %><br>
    <%= f.text_field :referenceDoc, class: "form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit %>
  </div>
<% end %>
