<%= render 'shared/errors', obj:@referee %>
<div class='row'>
  <%= form_for(@referee, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="col-md-12 col-md-offset-0" >
   <div class="panel panel-default">
	  <div class="panel-heading">
     <h4 align="center"><%= t('.sign_in', :default => "Referee") %></h4>
	<div class="panel-body">

   <div class="form-group">
     <%= f.label :Title %><br>
      <%= f.select :title, options_for_select([['Mr'],['Miss'],['Mrs'],['Ms']], params[:title]),{}, { class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :Forename %><br>
    <%= f.text_field :forename,:placeholder => "Viralkumar", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Surname %><br>
    <%= f.text_field :surname,:placeholder => "Patel", class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :Email %><br>
    <%= f.text_field :email,:placeholder => "omshiv2415@yahoo.co.uk", class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :ContactPhone, "Contatct Phone" %><br>
    <%= f.text_field :contactPhone,:placeholder => "07961279239", class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :Relationship %><br>
    <%= f.text_field :relationship, :placeholder => "Student",class: "form-control" %>
  </div>
   <div class="form-group">
     <%= f.label :permissionToContact, "Permission to Contact" %><br>
     <%= f.select :permissionToContact, options_for_select([['NO'],['Phone'],['Email']], params[:title]),{}, { class: "form-control"} %>
  </div>
  <div class="actions form-group">
    <%= f.submit "Submit" , class: "btn btn-primary" %>
  </div>
<% end %>
