<p id="notice"><%= notice %></p>

<h1>Listing Referees</h1>

<table>
  <thead>
    <tr>
      <th>Idreferees</th>
      <th>Persons iduser</th>
      <th>Title</th>
      <th>Forename</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Contactphone</th>
      <th>Relationship</th>
      <th>Permissiontocontact</th>
      <th>Verified</th>
      <th>Howverified</th>
      <th>Referencedoc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @referees.each do |referee| %>
      <tr>
        <td><%= referee.idReferees %></td>
        <td><%= referee.Persons_idUser %></td>
        <td><%= referee.title %></td>
        <td><%= referee.forename %></td>
        <td><%= referee.surname %></td>
        <td><%= referee.email %></td>
        <td><%= referee.contactPhone %></td>
        <td><%= referee.relationship %></td>
        <td><%= referee.permissionToContact %></td>
        <td><%= referee.verified %></td>
        <td><%= referee.howVerified %></td>
        <td><%= referee.referenceDoc %></td>
        <td><%= link_to 'Show', referee %></td>
        <td><%= link_to 'Edit', edit_referee_path(referee) %></td>
        <td><%= link_to 'Destroy', referee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Referee', new_referee_path %>
