<%= render 'shared/errors', obj:@jobpreference %>
<div class='row'>
  <%= form_for(@jobpreference, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="col-md-12 col-md-offset-0" >
   <div class="panel panel-default">
	  <div class="panel-heading">
     <h4 align="center"><%= t('.sign_in', :default => "Job Preferences") %></h4>
	<div class="panel-body">
   <div class="form-group">
    <%= f.label :job_title, "Job Title" %><br>
    <%= f.text_field :job_title,:placeholder => "Looking for post as Software Engineer", class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :job_role, "Job Role" %><br>
    <%= f.select :job_role, options_for_select([['Senior'],['Junior'],['Graduate'],['Internship']],params[:title]),{}, { class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :role_type, "Role Type" %><br>
    <%= f.select :role_type, options_for_select([['Full-Time'],['Part-Time'],['Zero Hours Contract'],['Temporary Contract']],params[:role_tytle]),{}, { class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :location, "Location" %><br>
    <%= f.select :location, options_for_select(days, params[:location]),{}, { class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :happy_to_relocate, "Happy to Relocate" %><br>
   <%= f.select :happy_to_relocate, options_for_select([['Yes'],['No']],params[:happy_to_relocate]),{}, { class: "form-control"} %>
  </div>
  <div class="actions form-group">
    <%= f.submit "Submit" , class: "btn btn-primary" %>
  </div>
<% end %>
